### IntelliJ IDEA ###
.idea/
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Kotlin ###
.kotlin

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### Python ###
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
.mypy_cache/
pytest_cache/
.ipynb_checkpoints

### Environment Files ###
.env
.env.*
!.env.example

### Logs and Local Database Files ###
*.log
*.sqlite3
*.db

### Docker ###
# Ignore Docker volumes
volumes/
db_data/
node_modules/

### Vite ###
.vite/