fastapi
uvicorn
pdfplumber
langchain
langchain-postgres
langchain-aws
pydantic
python-dotenv
langchain_text_splitters
psycopg[binary,pool]
asyncpg
langsmith
langchain_core
langgraph
langgraph-prebuilt
langgraph-checkpoint-postgres
tiktoken
python-multipart
pymupdf